<nav class="navbar navbar-light bg-light navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Логин</a>
    </li>
  </ul>
</nav>
