<nav
  class="navbar navbar-light bg-light navbar-expand p-3 justify-content-between">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/applications">Заявки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Выйти</a>
    </li>
  </ul>
  <div><%= user %></div>
</nav>
